<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pathologie</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="style/style.css"/>
		{% endblock %}
	</head>
	<header>
	{% if session == true %}
		{% include "navbarco.html.twig" %}
	{% else %}
		{% include "navbar.html.twig" %}
	{% endif %}

		<p class="title">Pathologie</p>
	</header>
	<body>
		<table>
			<tbody>
				<tr>
					<th>Méridien</th>
					<th>Type de Pathologie</th>
					<th>Caractéristiques</th>
				</tr>
				
				<form method='POST' action='index.php?p=filtre_patho'>
					<tr>
						<td>
							<select name='meridien[]' id='meridien' multiple onchange='this.form.submit()'>
								<option value=''>Aucun</option>

                                  {% for meridien in meridien_all %}   
                                    {% if meridien.nom in meridienselected  %}
                                        <option value='{{meridien.nom}}' selected>{{meridien.nom}}</option>     
                                    {% else %}
                                        <option value='{{ meridien.nom }}'>{{ meridien.nom }}</option>
                                    {% endif %}
                                
                               
                                {% endfor %}
                            
							
								
							</select>
						</td>
						<td>
							<select name='type[]' id='type' multiple onchange='this.form.submit()'>
								<option value=''>Aucun</option>
                                {% for type in type_all %}
                                    {% if type.description in typeselected  %}
                                        <option value='{{type.description}}' selected>{{type.description}}</option>     
                                    {% else %}
                                        <option value='{{ type.description }}'>{{ type.description }}</option>
                                    {% endif %}
                                {% endfor %}
						</td>
						<td>
							<select name='caracteristique[]' id='caracteristique' multiple onchange='this.form.submit()'>
								<option value=''>Aucun</option>
                                {% for caracteristique in caracteristique_all %}
                                    {% if caracteristique.caracteristique in caracteristiqueselected  %}
                                        <option value='{{caracteristique.caracteristique}}' selected>{{caracteristique.caracteristique}}</option>     
                                    {% else %}
                                        <option value='{{ caracteristique.caracteristique }}'>{{ caracteristique.caracteristique }}</option>
                                    {% endif %}
                                {% endfor %}
							</select>	
						</td>
					</tr>

                    
				<form>
				

                    {% for donnee in result %}
                        <tr>
                            <td>{{ donnee.nom }}</td>
                            <td>{{ donnee.desc }}</td>
                            <td>{{ donnee.caracteristique }}</td>

                        </tr>
                    {% endfor %}

				

			</tbody>
		</table>    
    </body>
</html>
