<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMERGENCY</title>
    <link rel="icon" href="/images/Logo.png" />
    {% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="/style/style.css">
    {% endblock %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
</head>
<header>
    {% if session == true %}
		{% include "navbarco.html.twig" %}
	{% else %}
		{% include "navbar.html.twig" %}
	{% endif %}
</header>

<body>


    <div style=" display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">

        <div id="map"  style="width: 200vh; height: 45vw;"></div>

        
        <script>

        var map = L.map('map').setView([42.3, 9.1], 10);

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);


            WayPointsTrace = new L.LayerGroup();

            {% for lieux in result %}

                

                if ({{lieux.intensite}} < 4){
                    colorcircle = '#2A70E5'
                }else if  ({{lieux.intensite}} <= 6) { 
                    colorcircle = '#FFC300'
                }else if  ({{lieux.intensite}} <= 8) { 
                    colorcircle = '#FF5733'
                }else if ({{lieux.intensite}} <= 10) {
                    colorcircle = '#C70039'
                }else{
                    colorcircle = '#000000'
                }

                if ( {{ lieux.intensite }} * 300 > 3500  ){
                    m = L.circle([{{ 42.54 - lieux.adresse_x/12 }},  {{ 8.8 + lieux.adresse_y/20 }}], {radius:  3500, color:colorcircle} ).addTo(map)
                    .bindPopup({{ 42.54 - lieux.adresse_x/12 }} + ' ; ' + {{ 8.8 + lieux.adresse_y/12 }})
                } else if ( {{ lieux.intensite }} * 300 < 100 ) {
                    m = L.circle([{{ 42.54 - lieux.adresse_x/12 }},  {{ 8.8 + lieux.adresse_y/20 }}], {radius:  200, color:colorcircle} ).addTo(map)
                    .bindPopup({{ 42.54 - lieux.adresse_x/12 }} + ' ; ' + {{ 8.8 + lieux.adresse_y/12 }})
                }else{
                    m = L.circle([{{ 42.54 - lieux.adresse_x/12 }},  {{ 8.8 + lieux.adresse_y/20 }}], {radius: {{ lieux.intensite }} * 300, color:colorcircle} ).addTo(map)
                    .bindPopup({{ 42.54 - lieux.adresse_x/12 }} + ' ; ' + {{ 8.8 + lieux.adresse_y/12 }})
                }

                Wpt_Name = '<b><input type="text" value="Etape NN" id="MyName"/> <input type="button" value="Save" Onclick="console.log("toto")"/>';

                m.data = {
                    properties: { name: Wpt_Name }
                };

                m.addTo(WayPointsTrace);

                m.getPopup().on("click", function (e) {
	  
                //  m.setLatLng(e.latlng);
                
                    m.getPopup().setContent(ItemPopup);
                });

            {% endfor %}

              var myIcon = L.icon({
                iconUrl: '/images/Camion.png',
                iconSize: [80, 50],
                
            });
                 
            {% for Camion_1 in camion %}
                L.marker([{{ 42.54 - Camion_1.position_x/12 }},  {{ 8.8 + Camion_1.position_y/20 }}], {icon: myIcon}).addTo(map)            
            {% endfor %}


    
        </script>
    </div>
    
   
    
</body>

</html>
